asgiref==3.8.1
Django==4.2
django-admin-sortable2==2.2.6
django-tinymce==4.1.0
environs==14.1.1
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==3.26.1
packaging==24.2
pillow==11.1.0
pycparser==2.22
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
setuptools==78.1.0
sqlparse==0.5.3
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.15
